<template lang="pug">
doctype html
v-container(fluid pt-5 pb-0 class="g-container text-xs-center")
  v-layout(row wrap class="g-section-layout")
    v-flex(xs10 offset-xs1 md8 offset-md2)
      div(class="pt-5")
        h3(class="text-xs-center g-section-title") Nuestros Productos
      
  v-layout(row wrap class="g-layout-slider")
    v-flex(xs12 style="background: black" class="white--text g-slide" v-bind:class="{ 'g-zoom-in': slideIndex==0, 'g-zoom-out': slideIndex>0 }")
      h1(class="display-3 pb-0 white--text") Oxigeno
      p El oxigeno es un gas noble
      
    v-flex(xs12 style="background: red" class="white--text g-slide" v-bind:class="{ 'g-slide-index-in': slideIndex==1, 'g-slide-index-out': slideIndex<1, 'g-zoom-in': slideIndex==1, 'g-zoom-out': slideIndex>1 }")
      h1(class="display-3 pb-0 white--text") Propano
      p El propano es un gas pesado
    
    v-flex(xs12 style="background: blue" class="white--text g-slide" v-bind:class="{ 'g-slide-index-in': slideIndex==2, 'g-slide-index-out': slideIndex<2 }")
      h1(class="display-3 pb-0 white--text") Metano
      p El metano es un gas explosivo
      
    v-flex(xs12 class="g-slider-control")
      v-container
        v-layout(row justify-space-around)
          v-icon(dark small class="g-control" v-on:click="anterior") chevron_left
          v-icon(dark small class="g-control" v-on:click="siguiente") chevron_right      
      
</template>

<script>

export default {
  data () {
    return {
      slideIndex: 0
    }
  },
  methods: {
    siguiente: function () {
      if (this.slideIndex < 2) {
        this.slideIndex++
      }
    },
    anterior: function () {
      if (this.slideIndex > 0) {
        this.slideIndex--
      }
    }
  },
  components: {
  }
}
</script>

<style lang="stylus" scoped>

deepOrange = #e64a19

.g-container
  background-color white
  border-bottom 2px solid #d2d2d5

.g-section-title
  font-family 'Roboto', sans
  font-weight bold
  padding-bottom 0.8em
  margin-bottom: 1em
  background url('/static/bottom-red.svg') no-repeat bottom

.g-layout-slider
  position: relative
  height: 480px

.g-slide
  position absolute
  height 100%
  width: 100%

.g-slide-index-in
  transform translateX(0%)
  transition transform 1s ease
  
.g-slide-index-out
  transform translateX(100%)
  transition transform 1s ease
  
.g-zoom-in
  transform scale(1)
  transition transform 1s
  
.g-zoom-out
  transform scale(0.9)
  transition transform 1s
  
.g-slider-control
  position absolute
  top 85%
  width 100%

.g-control
  cursor pointer
</style>
