extends layout

block content
  h1= title
  p Welcome to #{title}

  //form
  select(id="Method", class="placeholder")
    option(value="", class="placeholder") Método
    option(value="Select", style="color: black") Select
    option(value="Insert", style="color: black") Insert
    option(value="Update", style="color: black") Update
    option(value="Delete", style="color: black") Delete

  input(type='text', id='UserName', placeholder='UserName (string)')
  input(type='password', id='Password', placeholder='Password (string)', maxlength='4')

  //input(type='text', id='Material', placeholder='Material (string)')
  //input(type='text', id='Capacidad', placeholder='Capacidad (double)')
  //input(type='text', id='ClaseProducto', placeholder='Clase producto (string)')
  //input(type='text', id='NormaTecnica', placeholder='Norma técnica (string)')
  //input(type='text', id='Propietario', placeholder='Propietario (string)')
  //input(type='text', id='Presion', placeholder='Presion (double)')
  //input(type='text', id='AlturaConValvula', placeholder='Altura con valvula (double)')
  //input(type='text', id='PesoConValvula', placeholder='Peso con valvula (double)')
  //select(id='Valvula', class="placeholder")
    option(value="", class="placeholder") Valvula
    option(value="si", style="color: black") Si
    option(value="no", style="color: black") No
  //input(type='text', id='TipoValvula', placeholder='Tipo Valvula (string)')
  //input(type='text', id='AcabadoColor', placeholder='Acabado color (string)')
  //input(type='text', id='Proveedor', placeholder='Proveedor (string)')
  //input(type='text', id='FechaCompra', placeholder='Fecha de compra (date)')
  //select(id='Garantia', class="placeholder")
    option(value="", class="placeholder") Garantía
    option(value="si", style="color: black") Si
    option(value="no", style="color: black") No
  //input(type='text', id='FechaFabricacion', placeholder='Fecha de fabricacion (date)')
  //select(id='PruebaHidrostatica', class="placeholder")
    option(value="", class="placeholder") Prueba Hidrostática
    option(value="si", style="color: black") Si
    option(value="no", style="color: black") No
  //select(id='Alquilado', class="placeholder")
    option(value="", class="placeholder") Alquilado
    option(value="si", style="color: black") Si
    option(value="no", style="color: black") No
  //input(type='text', id='FechaAlquiler', placeholder='Fecha de alquiler (date)')
  //input(type='text', id='Observaciones', placeholder='Observaciones (string)')

  a(class="button", id="btnProbar") Send

  //viewer
  div(id='tablero', data-toggler, data-animate="fade-in fade-out", class="callout secondary")
